<h2> Dear <%= @contact[:name] %> </h2>,

<h3><%= @trip[:user][:name] %> started their <%= @trip[:name] %> trip on <%= @trip[:startDate] %> at <%= @trip[:startTime] %> and has not checked in.</h3>

<p>Here is all the information they recorded about their trip:</p>

<p>Trip starting point: <%= @trip[:startingPoint]%></p>
<p>Trip ending point: <%= @trip[:endingPoint]%></p>

<p>Number of traveling companions: <%= @trip[:travelingCompanions] %></p>

<p>Gear:</p>
<% @trip[:tripGears].each do |gear| %>
  <ul>
    <li><%= gear[:gear][:itemName] %></li>
    <li><%= gear[:comments] %></li>
  </ul>
<% end %>

<p>Vehicle description:</p>
<ul>
  <li><%= @trip[:vehicle][:make] %></li>
  <li><%= @trip[:vehicle][:model] %></li>
  <li><%= @trip[:vehicle][:year] %></li>
  <li><%= @trip[:vehicle][:color] %></li>
  <li><%= @trip[:vehicle][:licensePlate] %></li>
  <li><%= @trip[:vehicle][:state] %></li>
</ul>
<%= @trip[:vehicle] %>

<p>Physical description:</p>
<ul>
  <%= @trip[:user][:name] %>
  <%= @trip[:user][:phone] %>
  <%= @trip[:user][:address] %>
  <%= @trip[:user][:city] %>
  <%= @trip[:user][:state] %>
  <%= @trip[:user][:zip] %>
  <%= @trip[:user][:birthDate] %>
  <%= @trip[:user][:weight] %>
  <%= @trip[:user][:height] %>
  <%= @trip[:user][:hairColor] %>
  <%= @trip[:user][:skinColor] %>
  <%= @trip[:user][:gender] %>
  <%= @trip[:user][:cosarCard] %>
  <%= @trip[:user][:experienceLevel] %>
</ul>

Please contact a nearby search and rescue team below:
<% @trip[:nearbySarTeams].each do |team| %>
  <ul>
    <li><strong><%= team[:teamName] %></strong></li>
    <li><%= team[:contact] %></li>
    <li><%= team[:contactNumber] %></li>
    <li><%= team[:city] %></li>
    <li><%= team[:state] %></li>
    <li><%= team[:county] %></li>
  </ul>
<% end %>
